################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/TfsWitAdminTools/bin/Debug
/TfsWitAdminTools/obj/Debug
/TfsWitAdminTools.Cmn/bin/Debug
/TfsWitAdminTools.Cmn/obj/Debug
